<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}PDF Viewer{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body>
    <header>
        <div class="logo-container">
            <img src="{{ url_for('static', filename='DocuGeniusLogo.png') }}" alt="App Logo">
        </div>
        <nav>
            <ul>
                <li><a href="/">About</a></li>
                <li><a href="/">Log Out</a></li>
            </ul>
        </nav>
    </header>
    
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer>
        <p>© 2024 DocuGenius</p>
    </footer>
</body>
</html>
