{% extends 'base.html' %}

{% block title %}PDF Viewer{% endblock %}

{% block content %}
<div id="uploadForm">
    <form method="post" enctype="multipart/form-data">
        <input type="file" id="fileInput" name="file" accept="application/pdf">
        <span id="filenameDisplay"></span>
        <button type="button" onclick="uploadPDF()">Upload</button>
    </form>
    <form id="queryForm">
        <input type="text" name="query" id="queryInput" placeholder="Enter your question">
        <button type="button" onclick="sendQuery()">Send</button>
    </form>
    <div id="responseContainer">
        <p id="generatedText"></p>
        <p id="referenceTexts"></p>
    </div>
</div>

<iframe id="pdfViewer"></iframe>


<script>
function uploadPDF() {
        var form = document.querySelector('form');
        var formData = new FormData(form);

        var filenameDisplay = document.getElementById('filenameDisplay');
        var filename = fileInput.files[0].name; // Access the filename
        filenameDisplay.textContent = filename;

        fetch('/upload', {
            method: 'POST',
            body: formData,
        })
        .then(response => response.text())
        .then(url => {
            document.getElementById('pdfViewer').src = url;
        })
        .catch(error => {
            console.error('Error:', error);
        });
    };


function sendQuery() {
    const query = document.getElementById('queryInput').value;
    const filename = document.getElementById('filenameDisplay').textContent;
    fetch('/retrieve_generate', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json'
        },
        body: JSON.stringify({query: query, filename:filename})
    })
    .then(response => response.json())
    .then(data => {
        document.getElementById('generatedText').textContent = 'Generated Text: ' + data.generated_text;
        document.getElementById('referenceTexts').textContent = 'References: ' + data.reference_texts;
    })
    .catch(error => {
        console.error('Error:', error);
    });
};
</script>

{% endblock %}