{% extends 'base.html' %}

{% block title %}DocuGenius{% endblock %}

{% block content %}
<div id="uploadForm">
    <form method="post" enctype="multipart/form-data">
        <div  id="UploadDiv" style="display: flex-inline">
            <label for="fileInput" class="custom-file-upload">
                Choose file
            </label>
            <input type="file" id="fileInput" name="file" accept="application/pdf" style="display: none;">
            <button type="button" id="uploadButton" onclick="uploadPDF()">Upload</button>
            <span id="filenameDisplay"></span>
        </div>
        
        <div id="loadingIndicator" style="display: none;"><img src='static/Loading.gif'> <p id='processText'>Processing...</p></div>
    </form>
    <hr id="formSeparator">

    <div id="chatContainer">
        <div id="messages" ></div>
        <input type="text" id="chatInput" placeholder="Type your question and press enter to submit.">
    </div>
</div>

<iframe id="pdfViewer"></iframe>


<script>
    function uploadPDF() {
        var form = document.querySelector('form');
        var formData = new FormData(form);
        var uploadButton = document.getElementById('uploadButton');
        var loadingIndicator = document.getElementById('loadingIndicator');
        var filenameDisplay = document.getElementById('filenameDisplay');
        var fileInput = document.getElementById('fileInput');

        if (fileInput.files.length > 0) {
            var filename = fileInput.files[0].name; // Access the filename
            filenameDisplay.textContent = filename;

            // Disable the upload button and show the loading indicator
            uploadButton.disabled = true;
            loadingIndicator.style.display = 'flex';

            fetch('/upload', {
                method: 'POST',
                body: formData,
            })
            .then(response => response.text())
            .then(url => {
                document.getElementById('pdfViewer').src = url;
                // Re-enable the upload button and hide the loading indicator
                uploadButton.disabled = false;
                loadingIndicator.style.display = 'none';
            })
            .catch(error => {
                console.error('Error:', error);
                // In case of error, also re-enable the button and hide the loading indicator
                uploadButton.disabled = false;
                loadingIndicator.style.display = 'none';
            });
        } else {
            alert('Please select a file to upload.');
        }
    };


document.getElementById('fileInput').addEventListener('change', function() {
    // Assuming you have a span or div to show the filename
    var fileNameDisplay = document.getElementById('filenameDisplay');
    if (this.files.length > 0) {
        fileNameDisplay.textContent = this.files[0].name;
    } else {
        fileNameDisplay.textContent = 'Choose file';
    }
});

document.getElementById('chatInput').addEventListener('keydown', function(event) {
    if (event.key === "Enter") {
        event.preventDefault(); // Prevent form submission

        var message = this.value.trim();
        if (message) {
            addMessage(message, 'user');
            this.value = ''; // Clear input after sending
            sendQuery(message); // Invoke sendQuery with the user's message
        }
    }
});

function addMessage(htmlContent, sender) {
    const messageElement = document.createElement('div');
    messageElement.classList.add('message', sender === 'server' ? 'server-message' : 'user-message');
    messageElement.innerHTML = htmlContent; // using innerHTML since HTML content may include links
    document.getElementById('messages').appendChild(messageElement);
    messageElement.scrollIntoView();
}

function sendQuery(message) {
    const filename = document.getElementById('filenameDisplay') ? document.getElementById('filenameDisplay').textContent : 'defaultFile.pdf';

    // Add loading GIF to the chat
    addMessageWithGIF();

    fetch('/retrieve_generate', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json'
        },
        body: JSON.stringify({query: message, filename: filename})
    })
    .then(response => response.json())
    .then(data => {
        // Remove the loading GIF
        removeMessageWithGIF();

        // Displaying the generated text as a server message
        addMessage(data.generated_text, 'server');

        // Update PDF viewer to show highlighed document
        document.getElementById('pdfViewer').src = data.highlighted_file_path;

        // Assuming 'highlighted_page_nums' is part of the response and contains an array of page numbers
        if (data.highlighted_page_nums && data.highlighted_page_nums.length > 0) {
            const pageLinksMessage = 'Reference text chunks in pages: ' + 
                data.highlighted_page_nums.map(pageNum => 
                    `<a href="#" onclick="event.preventDefault(); loadPage('${data.highlighted_file_path}', ${pageNum});">${pageNum}</a>`
                ).join(', ');
            addMessage(pageLinksMessage, 'server');
        }

        
    })
    .catch(error => {
        console.error('Error:', error);
        removeMessageWithGIF();
        addMessage('Failed to retrieve data.', 'server');
    });
}

function loadPage(pdfPath, pageNumber) {
    const pdfViewer = document.getElementById('pdfViewer');

    const timestamp = new Date().getTime(); // Current time as a timestamp

    pdfViewer.src = `${pdfPath}?t=${timestamp}#page=${pageNumber}`;
    console.log(`Loading PDF: ${pdfViewer.src}`);

    console.log(`${pdfPath}#page=${pageNumber}`)
    console.log(pdfViewer.src)
}


function addMessageWithGIF() {
    const messageElement = document.createElement('div');
    messageElement.classList.add('message', 'loading-message');
    messageElement.innerHTML = '<img src="static/typing_loading.gif" alt="Loading..." style="width: 40px; height: 40px;"/>';
    document.getElementById('messages').appendChild(messageElement);
    messageElement.scrollIntoView({ behavior: 'smooth' });
}

function removeMessageWithGIF() {
    const loadingMessages = document.querySelectorAll('.loading-message');
    loadingMessages.forEach(msg => msg.remove());
}


</script>

{% endblock %}